html{
  height:100vh;
}

header,footer{
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-image: url(https://www.desktopbackground.org/download/o/2010/12/12/125145_wedding-flower-full-hd-wallpapers-wedding-dress-1080p-download_1920x1080_h.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 60px;
}

.corps {
  text-align: center;
}

p.txt {
  font-family: "Poiret One", cursive;
  font-size: 40px;
}


#p_footer{
  font-size: 10px;
}
