html{
  height: 100vh;
}

header,footer{
  font-family: 'Josefin Sans', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: url(../img/bg-register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#form {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 5px;
  opacity: 0.95;
}

#gauche,#droite{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  font-family: 'Playfair Display', serif;
}


#p_footer{
  font-size: 10px;
}
